---
import Layout from "../layouts/Layout.astro";
const storageUrl = import.meta.env.WEBSITE_URL + '/storage';
---
<Layout title="R²M">
	<main>
		<h1>R²M</h1>
		<p>
			R²M, or Rusty Retro Messaging, is a written from scratch third-party MSNP server.
		</p>
		<p>
			This instance and "project homepage" is a private testing one, if you have a code you can register on the top right and use
			one of the patched installers <a href={storageUrl}>here</a>. Or you can point your client to this same domain.
		</p>
		<h2>Client support</h2>
		<p>
			At the moment the server supports MSNP8 to MSNP12, which includes:
		</p>
		<ul>
			<li>MSN 5.0</li>
			<li>MSN 6.2</li>
			<li>MSN 7.0</li>
			<li>MSN 7.5</li>
		</ul>
		<h2>Open source and self-hostable</h2>
		<p>
			This project is to be completely open source, and as such the source code is available
			<a href="https://github.com/campos02/rusty-retro-messaging">here.</a> Self-hosting it is possible with that code.
		</p>
		<p class="disclaimer">
			R²M is not affiliated with Microsoft in any way. It was created using publicly available documentation
			written by third-parties reverse engineering MSNP.
		</p>
	</main>
	<style>
		main {
            justify-self: center;
            padding: 1rem 18rem 2rem 18rem;
        }

		h1 {
			text-align: center;
		}

		p {
			font-size: 1.1rem;
		}

		li {
			padding: 0.2rem;
		}

		a {
            color: light-dark(var(--link-color), var(--link-color-dark));
            text-decoration: none;
        }

        a:hover {
            color: light-dark(var(--link-hover-color), var(--link-hover-color-dark));
        }

		.disclaimer {
			font-size: 0.9em;
		}

		@media (max-width: 1380px) {
			main {
				padding: 1rem 2rem 2rem 2rem;
			}
		}
	</style>
</Layout>