---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import {actions} from 'astro:actions';
import {navigate} from "astro:transitions/client";

let resultText = "";
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const { data, error } = await Astro.callAction(actions.login, formData);

    if (!error) {
        Astro.cookies.set('user_token', String(data.token), {
            httpOnly: true,
            secure: true,
            sameSite: 'strict',
            maxAge: 86400,
            path: '/'
        });

        return Astro.redirect('/user');
    } else
        resultText = `Unable to login: ${error.message}`;
}
---
<Layout title="Login">
    <main>
        <h2>Login</h2>
        <form method="POST">
            <div class="form-text">
                <label>
                    Email:
                    <input required type="email" name="email" placeholder="Enter your email">
                </label>
                <label>
                    Password:
                    <input required type="password" name="password" placeholder="Enter your password">
                </label>
            </div>
            <input type="submit" value="Login">
        </form>
        <p>{resultText}</p>
    </main>
    <style>
        main {
            display: grid;
            grid-template-rows: repeat(2, auto) 1rem;
            place-self: start center;
            padding: 1rem 15rem 2rem 15rem;
        }

        h2 {
            text-align: center;
        }

        form {
            display: grid;
            gap: 0.5rem;
            place-self: start center;
        }

        input {
            padding: 0.3rem;
            border-radius: 0.2rem;
            font-size: 0.9em;
        }

        input[type="submit"] {
            padding: 0.2em;
            place-self: center;
        }

        label {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }

        p {
            text-align: center;
        }

        .form-text {
            display: grid;
            gap: 1rem;
        }

        @media (max-width: 1380px) {
            main {
                padding: 1rem 2rem 2rem 2rem;
            }
        }
    </style>
</Layout>