---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Register">
	<main>
		<h1>Registration</h1>
		<form>
            <div class="form-text">
                <input required type="email" name="email" placeholder="Enter your email">
                <input required type="password" name="password" placeholder="Enter your password">
                <input required type="password" name="password_confirmation" placeholder="Confirm your password">
                <input required type="text" name="code" placeholder="Enter your code">
            </div>
            <input type="submit" value="Register">
        </form>
        <p id="result"/>
        <script>
            import { actions } from 'astro:actions';

            const form = document.querySelector('form');
            form?.addEventListener('submit', async (event) => {
                event.preventDefault();
                const formData = new FormData(form);
                const { error } = await actions.registration(formData);
                const resultText = document.getElementById("result");

                if (!error)
                    resultText.innerText = "User registered successfully";
                else
                    resultText.innerText = `Unable to register: ${error.message} - ${error.code}`;
            });
        </script>
	</main>
	<style>
		main {
            display: grid;
            grid-template-rows: repeat(2, auto) 1rem;
            place-self: start center;
            padding: 1rem 15rem 2rem 15rem;
        }

		h1 {
			text-align: center;
		}

        form {
            display: grid;
            gap: 0.5rem;
            place-self: start center;
        }

        input {
            padding: 0.3rem;
            border-radius: 0.2rem;
            font-size: 0.9em;
        }

        input[type="submit"] {
            padding: 0.2em;
            place-self: center;
        }

        .form-text {
            display: grid;
            gap: 1rem;
        }

        p {
            text-align: center;
        }

		@media (max-width: 1380px) {
			main {
				padding: 1rem 2rem 2rem 2rem;
			}
		}
	</style>
</Layout>