---
export const prerender = false;

import Layout from "../layouts/Layout.astro";
import {actions} from 'astro:actions';
import {navigate} from "astro:transitions/client";

let resultText = "";
if (Astro.request.method === "POST") {
    const formData = await Astro.request.formData();
    const { error } = await Astro.callAction(actions.registration, formData);

    if (!error)
        return Astro.redirect('/registration-success');
    else
        resultText = `Unable to register: ${error.message}`;
}
---
<Layout title="Register">
	<main>
		<h2>Registration</h2>
		<form method="POST">
            <div class="form-text">
                <label>
                    Email:
                    <input required type="email" name="email" placeholder="Enter your email">
                </label>
                <label>
                    Password:
                    <input required type="password" name="password" placeholder="Enter your password">
                </label>
                <label>
                    Password confirmation:
                    <input required type="password" name="password_confirmation" placeholder="Confirm your password">
                </label>
                <label>
                    Code:
                    <input required type="text" name="code" placeholder="Enter your code">
                </label>
            </div>
            <input type="submit" value="Register">
        </form>
        <p>{resultText}</p>
	</main>
	<style>
		main {
            display: grid;
            grid-template-rows: repeat(2, auto) 1rem;
            place-self: start center;
            padding: 1rem 15rem 2rem 15rem;
        }

		h2 {
			text-align: center;
		}

        form {
            display: grid;
            gap: 0.5rem;
            place-self: start center;
        }

        input {
            padding: 0.3rem;
            border-radius: 0.2rem;
            font-size: 0.9em;
        }

        input[type="submit"] {
            padding: 0.2em;
            place-self: center;
        }

        label {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
        }

        .form-text {
            display: grid;
            gap: 1rem;
        }

        p {
            text-align: center;
        }

		@media (max-width: 1380px) {
			main {
				padding: 1rem 2rem 2rem 2rem;
			}
		}
	</style>
</Layout>