---
export const prerender = false;

import {actions} from "astro:actions";
import Layout from "../layouts/Layout.astro";

const { data, error } = await Astro.callAction(actions.user, {});
if (error)
    return Astro.redirect('/login');
---
<Layout title="User page">
    <main>
        <h2>Account information</h2>
        <p>Display name: {data.display_name}</p>
        <p>Email: {data.email}</p>
    </main>
    <style>
        main {
            place-self: start center;
            padding: 1rem 15rem 2rem 15rem;
        }

        h1, h2 {
            text-align: center;
        }

        @media (max-width: 1380px) {
            main {
                padding: 1rem 2rem 2rem 2rem;
            }
        }
    </style>
</Layout>