---
---
<div class="end-links">
    <a href="/login">Login</a>
    <a href="/register">Register</a>
</div>
<style>
    .end-links {
        place-self: end;
        display: flex;
        gap: 2rem;
    }

    @media (max-width: 530px) {
        .end-links {
            place-self: center;
            display: grid;
            gap: 1rem;
            margin: 0;
        }
    }
</style>