---
import NavBarEndLinks from "./NavBarEndLinks.astro";
import DefaultNavBarEndLinks from "./DefaultNavBarEndLinks.astro";
const backendName = import.meta.env.PUBLIC_BACKEND_NAME;

let response;
if (import.meta.env.DEV)
    response = await fetch(`http://${backendName}/_r2m/stats`);
else
    response = await fetch(`https://${backendName}/_r2m/stats`);

const data = await response.json();

let users;
if (data.users == 1) {
    users = "1 user";
} else {
    users = `${data.users} users`;
}
---
<nav class="actions">
    <div class="pages">
        <a href="/">R²M</a>
        <a id="users">{users}</a>
    </div>
    <NavBarEndLinks server:defer>
        <DefaultNavBarEndLinks slot="fallback"/>
    </NavBarEndLinks>
</nav>
<style>
    nav {
        place-self: start stretch;
        display: grid;
        grid-template-columns: 1fr auto;
        font-size: 1rem;
        padding: 1rem;
        text-align: center;
    }

    a {
        text-decoration: none;
        color: light-dark(var(--actions-text-color), var(--actions-text-color-dark));
    }

    a:hover {
        color: light-dark(var(--actions-hover-color), var(--actions-hover-color-dark));
    }

    #users:hover {
        color: light-dark(var(--actions-text-color), var(--actions-text-color-dark));
    }

    .pages {
        place-self: center;
        display: flex;
        gap: 2rem;
        margin-left: 7.5rem;
    }

    @media (max-width: 530px) {
        nav {
            gap: 1rem;
            grid-template-columns: auto;
        }

        .pages {
            place-self: center;
            display: grid;
            gap: 1rem;
            margin: 0;
        }
    }
</style>