---
import { actions } from "astro:actions";

const token = Astro.cookies.get('user_token').value;
const { data, error } = await Astro.callAction(actions.user, { token });

if (error)
    throw error;
---
<div class="end-links">
    <a href="/user">{data.display_name}</a>
    <a href="/logout">Logout</a>
</div>
<style>
    a {
        text-decoration: none;
        color: light-dark(var(--actions-text-color), var(--actions-text-color-dark));
    }

    a:hover {
        color: light-dark(var(--actions-hover-color), var(--actions-hover-color-dark));
    }

    .end-links {
        place-self: end;
        display: flex;
        gap: 2rem;
    }

    @media (max-width: 530px) {
        .end-links {
            place-self: center;
            display: grid;
            gap: 1rem;
            margin: 0;
        }
    }
</style>