---
import { actions } from "astro:actions";
const { data, error } = await Astro.callAction(actions.user, {});

if (error)
    throw error;
---
<div class="end-links">
    <a href="/user">{data.display_name}</a>
    <a href="/logout" id="logout">Logout</a>
</div>
<script>
    import { navigate } from "astro:transitions/client";
    import { actions } from "astro:actions";

    const logout = document.getElementById('logout');
    logout.addEventListener('click', async (e) => {
        e.preventDefault();
        await actions.logout();
        await navigate('/');
    })
</script>
<style>
    a {
        text-decoration: none;
        color: light-dark(var(--actions-text-color), var(--actions-text-color-dark));
    }

    a:hover {
        color: light-dark(var(--actions-hover-color), var(--actions-hover-color-dark));
    }

    .end-links {
        place-self: end;
        display: flex;
        gap: 2rem;
    }

    @media (max-width: 530px) {
        .end-links {
            place-self: center;
            display: grid;
            gap: 1rem;
            margin: 0;
        }
    }
</style>